@model List<EmployeeManagement.ViewModels.DepartmentCountViewModel>


<h2>Employee Count by Department</h2>

<table >
    <tr>
        <th>Department</th>
        <th>Total Employees</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Department</td>
            <td>@item.TotalEmployees</td>
        </tr>
    }
</table>

<br />
<a href="/Employees">Back to Employees</a>
